@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed&family=Bellefair&display=swap');

body {
    color: #c7d2fe;
    background: #030712;
    font-family: 'Barlow', sans-serif;

    background-image: url('/assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: 768px) {
      background-image: url('/assets/home/background-home-tablet.jpg');
    }
  
    @media (min-width: 1024px) {
      background-image: url('/assets/home/background-home-desktop.jpg');
    }
}

p {
    font-size: clamp(0.9375rem, 4vw, 1.125rem);
    line-height: 1.5625rem;
    font-family: 'Barlow';
    text-align: center;
}

h1{
    color: #FFF;
    font-family: 'Bellefair';
    font-size: clamp(5rem, 20vw, 9.375rem);
    text-transform: uppercase;
}

h2{
    color: #FFF;
    font-family: 'Bellefair';
    font-size: clamp(3.5rem, 4vw, 6.25rem);
    text-transform: uppercase;
}

h3{
    color: #FFF;
    font-family: 'Bellefair';
    font-size: clamp(1rem, 4vw, 2rem);
    text-transform: uppercase;
}

h4{
    color: #FFF;
    font-family: 'Bellefair';
    font-size: clamp(1.25rem, 4vw, 2rem);
    text-transform: uppercase;
}

h5{
    font-size: clamp(1rem, 4vw, 1.75rem);
    letter-spacing: 0.16875rem;
    font-family: 'Barlow Condensed';
    text-transform: uppercase;
}
